* {
  box-sizing: border-box;
}

.flex {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.jfc {
  display: flex;
  align-items: center;
}

.jfr {
  display: flex;
  justify-content: flex-end;
}

.flex > div {
  width: 400px;
  max-width: 100%;
}

.mt10 {
  margin-top: 10px;
}

.num-input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 5px;
}

.calculator-wrapper {
  border: 3px solid #888888;
}

.title {
  font-size: 1.5rem;
  height: 50px;
  padding: 0 10px;
  background-color: #e0e0e0;
}

.calculate {
  font-size: 1.4rem;
  border: none;
  outline: none;
  height: 45px;
  color: white;
  background-color: #888888;
  cursor: pointer;
  padding: 0 10px;
}

.result-c div {
  font-size: 1.5rem;
  height: 50px;
  padding: 5px;
  white-space: nowrap;
  overflow-x: auto;
}
